body{
padding: 0px;
margin-left: 0px;
color: black;
font-family: sans-serif;
background-color: lightgrey;
text-align: center;
}
main{
  margin-top: 0px;
  padding-top: 81px;
}

p{
  color: black;
}

section{
  background: white;
}

img {
  float: bottom;
  margin-left: 15px;
  height: 50%;


}
a{
  text-decoration: none;
  color: white;
}
/* nav start */

nav ul li a:link, a:visited {
  color: white;
  text-decoration: none;
}
nav ul {
  letter-spacing: 1px;
  background-color: #f9f9f9;
  border-radius: 5px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #29487D;
  position: fixed;
  top: 0px;
  width: 100%;

}
nav ul li {
  margin: 0px;
  padding: 29px;
  border-top: 5px solid #f9f9f9;
  display: block;
  float: left;
  list-style-type: none;

}

nav ul li:nth-child(2) {
  border-top: 5px solid #fb5052;
}

nav ul li:nth-child(3) {
  border-top: 5px solid #fc8c8d;
}

nav ul li:nth-child(4) {
  border-top: 5px solid #fdbebe;
}

nav ul li:nth-child(5) {
  border-top: 5px solid #fdbebe;
}

nav ul li:last-child {
  border-top: 5px solid #fdbebe;
}

nav ul li:hover {
  cursor: pointer;
  border-top: 5px solid #049ee0;

  -webkit-transition: .5s ease-in-out;
  	  -moz-transition: .5s ease-in-out;
       -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
}

nav ul li:active {
  background-color: #f4f4f4;
}

.active {
  border-top: 5px solid #fa3234;
  color: white;
}

.active a:link, .active a:visited {
  color: white;
}
/* nav end */
/* comment section below */

.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0px;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px ;
}
.commentList {
    padding:0px;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0px;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0px;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
/* comment bow end */
.heading{
  color: black;
}
/* grid below */
/* .container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 400px 1fr ;
  grid-template-rows: 90px 600px 500px;
  grid-template-areaS:
  "header header header"
  "aside main aside2"
  "footer footer footer";


} */
/* index grid */
.indexgrid{

display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 600px 50px;
grid-column-gap: 10px;
grid-row-gap: 0px;

grid-template-areas:

"aside main aside2"
"footer footer footer";

}

.indexheader{
  grid-area: header;
}
.indexabout{
  grid-area:main;
  background: white;
}
.indexcurrent{
  grid-area:aside;
  color: black;
  background: white;
}
.indexthrowback{
  grid-area:aside2;
  background: white;
}
.indexfooter{
  grid-area:footer;
}
.homepage{
  font-size: 18px;
}
.aboutmeimg{
  width: 64%;
}
.andrewluck1{
  width: 80%;
}
.andrewluck2{
  width: 52%;
}
.osustadium{
  width: 80%;
}

.usersection{
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.throwbackcontainer{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  display: grid;
}
.currentcontainer{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  display: grid;
}
.usercontainer{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  display: grid;
}
.chaseyoung{
  width: 80%;
}
/* user grid */
.usergrid{
display: grid;
grid-template-columns: 1fr 1100px 1fr;
grid-template-rows: 90px 300px 50px;
grid-column-gap: 10px;
grid-row-gap: 0px;
grid-template-areas:
"header header header"
"aside main aside2"
"footer footer footer";
}
.userheader{
  grid-area: header;
}
.usermain{
  grid-area:main;
  background: white;
}
.aside{
  grid-area:aside;
  color: black;
  background: white;
}
.aside{
  grid-area:aside2;
  background: white;
}
.userfooter{
  grid-area:footer;
}

/* current grid below*/
.currentgrid{

display: grid;
grid-template-columns: 1fr 1100px 1fr;
grid-template-rows: 90px 760px 50px;
grid-column-gap: 10px;
grid-row-gap: 0px;
grid-template-areas:
"header header header"
"aside main aside2"
"footer footer footer";

}

.currentheader{
  grid-area: header;
}
.currentmain{
  grid-area: main;
  background: white;
}
.aside{
  grid-area:aside;
  color: black;
  background: white;
}
.aside{
  grid-area:aside2;
  background: white;
}
.footer{
  grid-area: footer;
}
.andrewluck12{
  width: 20%;
}
/*throwback grid below*/
.tbgrid{
display: grid;
grid-template-columns: 1fr 1100px 1fr;
grid-template-rows: 90px 800px 50px;
grid-column-gap: 10px;
grid-row-gap: 0px;
grid-template-areas:
"header header header"
"aside main side2"
"footer footer footer";
text-align: center;
}

.tbheader{
  grid-area: header;
}
.tbmain{
  grid-area:main;
  background: white;
}
.tbaside{
  grid-area:aside;
  color: black;
  background: white;
}
.tbaside{
  grid-area:aside2;
  background: white;
}
.tbfooter{
  grid-area:footer;
}
.nav{
  color: white;
}
/* media query */
@media (min-width:600px){
  nav ul{
    position: fixed;
  }
  p{
    font-size: 1.25rem;
  }
}
